<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.accountservice.mapper.AccountMapper">

    <resultMap id="account" type="Account">
        <id property="uuid" column="uuid"/>
        <result property="accountName" column="account_name"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="dep" column="account_dep"/>
        <result property="right" column="account_right"/>
        <result property="status" column="account_status"/>
        <result property="role" column="account_role"/>
    </resultMap>

    <insert id="addAccounts" parameterType="List">
        INSERT INTO account
        (uuid, account_name, password, email, account_right, account_dep, account_status, account_role)
        VALUES
        <foreach collection="list" item="account" separator=",">
        (
         #{account.uuid}, #{account.accountName}, #{account.password}, #{account.email}, #{account.right}, #{account.dep}, #{account.status}, #{account.role}
        )
        </foreach>
    </insert>

    <select id="getAccountByAccountName" parameterType="String" resultMap="account">
        select * from account where account_name = #{accountName}
    </select>

    <select id="login" parameterType="String" resultMap="account">
        SELECT uuid, account_name, password, email, account_right, account_dep, account_status, account_role
        FROM
            account
        <where>
            <if test="accountName != null and accountName != ''">
              account_name = #{accountName}
            </if>
            and password = #{password}
        </where>
    </select>

    <select id="getAccountByEmail" parameterType="String" resultMap="account">
        SELECT uuid, account_name, password, email, account_right, account_dep, account_status, account_role
        FROM
            account
        WHERE
              email = #{email}
    </select>

    <select id="getStatusByName" parameterType="String" resultType="Map">
        select account_status from account
        <where>
            <if test="name_list != null">
                name in
                <foreach collection="name_list" separator="," open="(" close=")" item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getAllAccount" parameterType="String" resultMap="account">
        SELECT uuid, account_name, password, email, account_right, account_dep, account_status, account_role
        FROM
            account;
    </select>

    <update id="updateStatusInfo" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update account
            <set >
                <if test="item.role != null" >
                    account_role = #{item.role},
                </if>
                <if test="item.dep != null" >
                    account_dep = #{item.dep},
                </if>
                <if test="item.status != null" >
                    account_status = #{item.status},
                </if>
            </set>
            where account_name = #{item.accountName}
        </foreach>

    </update>

    <select id="getAllAccountId" resultType="String">
        select uuid from account;
    </select>

    <select id="getAccountNameById" parameterType="String" resultType="String">
        select account_name from account where uuid=#{uuid};
    </select>


    <resultMap id="tool" type="Tool">
        <id property="uuid" column="id"/>
        <result property="toolType" column="tool_type"/>
        <result property="toolName" column="tool_name"/>
        <result property="description" column="description"/>
        <result property="enabled" column="is_enabled"/>
        <result property="installed" column="is_installed"/>
    </resultMap>

    <select id="getTools" resultMap="tool">
        select * from tool
    </select>

    <update id="updateToolsEnable" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update tool
            <set >
                <if test="item.enabled != null" >
                    is_enabled = #{item.enabled},
                </if>
                <if test="item.toolName != null" >
                    tool_name = #{item.toolName},
                </if>
                <if test="item.description != null" >
                    description = #{item.description},
                </if>
            </set>
            where id = #{item.uuid}
        </foreach>

    </update>

</mapper>