<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.accountservice.mapper.AccountAuthorMapper">


    <insert id="batchInsertAccountAuthor" parameterType="List">
        INSERT INTO account_author
            (account_uuid, account_name, account_gitname)
        VALUES
        <foreach collection="accountAuthors" item="account" separator=",">
            (
            #{account.accountUuid}, #{account.accountName}, #{account.accountGitName}
            )
        </foreach>
    </insert>

    <update id="resetSubAccount" parameterType="String">
        update account_author
        <set>
            account_name = #{majorAccountName},
            account_uuid = #{majorAccountUuid}
        </set>
        <where>
            account_name = #{subAccountName}
        </where>
    </update>

    <select id="getGitnameByAccountName"  parameterType="String" resultType="String">
        select account_gitname from account_author
        <where>
            account_name = #{majorAccountName}
        </where>
    </select>

</mapper>