<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.accountservice.mapper.CommitViewMapper">


    <select id="getDevelopers" resultType="java.util.HashMap">
        select distinct developer_unique_name as developerName from issueTracker.commit_view as cv
        inner join issueTracker.account as a
        on cv.developer_unique_name = a.account_name
        <trim prefix="where" prefixOverrides="and">
            a.account_status = #{accountStatus}
            <if test="repoUuids != null and repoUuids.size > 0">
                AND repo_uuid IN
                <foreach collection="repoUuids" separator="," open="(" close=")" item="repoUuid">
                    #{repoUuid}
                </foreach>
            </if>
            <if test="since != null and since != '' ">
                AND <![CDATA[ commit_time >= #{since} ]]>
            </if>
            <if test="until != null and until != '' ">
                AND <![CDATA[ commit_time <= #{until} ]]>
            </if>
            <if test="developers != null and developers != '' ">
                AND developer_unique_name LIKE CONCAT('%',#{developers},'%')
            </if>
                AND developer_unique_name IS NOT null
        </trim>
    </select>


</mapper>