<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.dependservice.codetrackermapper.FileMapperInCT">

<!--    <select id="getMetaFileUuidByFileName" parameterType="String">-->
<!--       SELECT meta_file_uuid-->
<!--       FROM code_tracker.raw_file-->
<!--       where file_name=-->
<!--       'measure-service/src/main/java/cn/edu/fudan/measureservice/service/MeasureDeveloperService.java' limit 1 ;-->
<!--    </select>-->

</mapper>