<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.projectmanager.mapper.ProjectMapper">

    <insert id="insertOneProject" parameterType="String">
        insert ignore into project
        (
            project_name,
            import_account_uuid
        )
        VALUES
        (
            #{projectName},
            #{accountUuid}
        )
    </insert>

    <update id="updateProjectNameP" parameterType="String">
        update project
        <set>
            project_name = #{newProjectName},
            import_account_uuid =#{accountUuid}
        </set>
        where   project_name = #{oldProjectName}

    </update>

    <select id="getProjectP"  resultType="Map">
        SELECT id,project_name
        FROM project
    </select>
</mapper>