<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.projectmanager.mapper.ProjectMapper">

    <insert id="insertOneProject" parameterType="java.util.HashMap">
        insert ignore into project
        (
            project_name,
            import_account_uuid
        )
        VALUES
        (
            #{projectName},
            #{accountUuid}
        )
    </insert>

</mapper>