<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.projectmanager.mapper.RepoUserMapper">

    <resultMap id="repoUser" type="RepoUser">
        <id property="uuid" column="uuid"/>
        <result property="name" column="name"/>
        <result property="importTime" column="import_time"/>
        <result property="accountUuid" column="account_uuid"/>
        <result property="subRepositoryUuid" column="sub_repository_uuid"/>
        <result property="projectName" column="project_name"/>
    </resultMap>

    <select id="getRepoUserByName" parameterType="String" resultMap="repoUser">
        select * from repo_user
        <if test="account_id != null">
            where account_id = #{account_id}
        </if>
        <if test="name != null">
            and name = #{name}
        </if>
    </select>

    <select id="getRepoUserBySubRepoUuidAndAccountId" parameterType="String" resultMap="repoUser">
        select * from repo_user
        <if test="account_id != null">
            where account_id = #{account_id}
        </if>
        <if test="sub_repository_uuid != null">
            and sub_repository_uuid = #{sub_repository_uuid}
        </if>
    </select>

    <insert id="insertRepoUser" parameterType="repoUser">
        insert ignore into repo_user
        (
        uuid,
        name,
        account_uuid,
        sub_repository_uuid,
        project_name
        )
        VALUES
        (
        #{uuid},
        #{name},
        #{accountUuid},
        #{subRepositoryUuid},
        #{projectName}
        )
    </insert>

    <select id="getRepoUserByAccountId" parameterType="String" resultMap="repoUser">
        select uuid, name, import_time, account_uuid, sub_repository_uuid, project_name
        from repo_user where account_id = #{account_id}
    </select>

    <delete id="remove" parameterType="String">
        delete from repo_user where uuid = #{uuid}
    </delete>

    <select id="getRepoUserBySubRepoId" parameterType="String" resultMap="repoUser">
        select * from repo_user where sub_repository_uuid = #{sub_repository_uuid}
    </select>
</mapper>