<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.scanservice.mapper.ScanMapper">


    <resultMap id="scan" type="Scan">
        <id property="uuid" column="uuid"/>
        <result property="startCommit" column="start_commit"/>
        <result property="repoId" column="repo_id"/>
        <result property="invokeResult" column="invoke_result"/>
    </resultMap>

    <!-- never used -->
    <insert id="insertOneScan" parameterType="Scan">
        insert into scan
        (
        uuid,
        start_commit,
        repo_uuid,
        invoke_result
        )
        VALUES
        (
        #{uuid},
        #{startCommit},
        #{repoId},
        #{invokeResult}
        )
    </insert>


    <delete id="deleteScanByRepoId" parameterType="String">
        delete from scan where repo_uuid=#{repo_id}
    </delete>

    <update id="updateOneScan" parameterType="Scan">
        UPDATE scan
        <trim prefix="set" suffixOverrides=",">

            <if test="invokeResult != null and invokeResult != '' ">
                invoke_result = #{invokeResult},
            </if>
            <if test="startCommit != null and startCommit != '' ">
                start_commit = #{startCommit},
            </if>

        </trim>
        <where>
            uuid = #{uuid}
        </where>
    </update>

    <select id="getScanByRepoId" parameterType="String" resultMap="scan">
        select * from scan where repo_uuid = #{repo_id} ;
    </select>

</mapper>