<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.issueservice.mapper.IssueIgnoreMapper">
    <insert id="insertIssueIgnoreRecords">
        insert into ignore_record
        (
        uuid,
        account_uuid,
        account_name,
        level,
        type,
        tool,
        repo_uuid,
        repo_name,
        branch,
        file_path,
        ignore_time,
        issue_uuid,
        raw_issue,
        commit_uuid,
        tag,
        message,
        is_used
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.uuid},
            #{item.accountUuid},
            #{item.accountName},
            #{item.level},
            #{item.type},
            #{item.tool},
            #{item.repoUuid},
            #{item.repoName},
            #{item.branch},
            #{item.filePath},
            #{item.ignoreTime},
            #{item.issueUuid},
            #{item.rawIssue},
            #{item.commitUuid},
            #{item.tag},
            #{item.message},
            #{item.isUsed}
            )
        </foreach>
    </insert>

    <update id="updateIssueIgnoreRecords">
        UPDATE ignore_record
        SET is_used = 1
        WHERE uuid IN
        <foreach collection="usedIgnoreRecordsUuid" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </update>

    <select id="getAllIgnoreRecord" resultType="java.util.HashMap">
        SELECT uuid, type, file_path AS filePath, raw_issue AS rawIssue
        FROM ignore_record
        WHERE repo_name = #{repoUrl}
        AND is_used = 0
        AND commit_uuid IN
        <foreach collection="preCommits" separator="," open="(" close=")" item="commit">
            #{commit}
        </foreach>
    </select>
</mapper>