<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.issueservice.mapper.IssueRepoMapper">

    <resultMap id="issueRepo" type="cn.edu.fudan.issueservice.domain.dbo.IssueRepo">
        <id property="uuid" column="uuid"/>
        <result property="repoId" column="repo_uuid"/>
        <result property="branch" column="branch"/>
        <result property="tool" column="tool"/>
        <result property="startCommit" column="start_commit"/>
        <result property="endCommit" column="end_commit"/>
        <result property="totalCommitCount" column="total_commit_count"/>
        <result property="scannedCommitCount" column="scanned_commit_count"/>
        <result property="scanTime" column="scan_time"/>
        <result property="status" column="status"/>
        <result property="nature" column="nature"/>
        <result property="startScanTime" column="start_scan_time"/>
        <result property="endScanTime" column="end_scan_time"/>
    </resultMap>

    <insert id="insertOneIssueRepo">
        insert into issue_repo
        (repo_uuid,
         branch,
         tool,
         start_commit,
         total_commit_count,
         scan_time,
         scanned_commit_count,
         status,
         start_scan_time,
         end_scan_time)
        VALUES (#{issueRepo.repoUuid},
                #{issueRepo.branch},
                #{issueRepo.tool},
                #{issueRepo.startCommit},
                #{issueRepo.totalCommitCount},
                #{issueRepo.scanTime},
                #{issueRepo.scannedCommitCount},
                #{issueRepo.status},
                #{issueRepo.startScanTime},
                #{issueRepo.endScanTime})
    </insert>

<!--    <insert id="insertOneIssueRepo" parameterType="IssueRepo">-->
<!--        insert into issue_repo-->
<!--        (uuid,-->
<!--         repo_uuid,-->
<!--         branch,-->
<!--         tool,-->
<!--         start_commit,-->
<!--         total_commit_count,-->
<!--         scan_time,-->
<!--         scanned_commit_count,-->
<!--         status,-->
<!--         start_scan_time,-->
<!--         end_scan_time)-->
<!--        VALUES (#{uuid},-->
<!--                #{issueRepo.repoUuid},-->
<!--                #{issueRepo.branch},-->
<!--                #{issueRepo.tool},-->
<!--                #{issueRepo.startCommit},-->
<!--                #{issueRepo.totalCommitCount},-->
<!--                #{issueRepo.scanTime},-->
<!--                #{issueRepo.scannedCommitCount},-->
<!--                #{issueRepo.status},-->
<!--                #{issueRepo.startScanTime},-->
<!--                #{issueRepo.endScanTime})-->
<!--    </insert>-->


    <update id="updateIssueRepo">
        UPDATE issue_repo
        SET end_scan_time        = #{issueRepo.endScanTime},
            scanned_commit_count = #{issueRepo.scannedCommitCount},
            scan_time            = #{issueRepo.scanTime}
        WHERE repo_uuid = #{issueRepo.repoUuid}
          AND branch = #{issueRepo.branch}

    </update>

    <delete id="deleteIssueRepoByCondition" parameterType="String">
        DELETE FROM issue_repo
        WHERE repo_uuid = #{repo_uuid}
        <if test="tool != null and tool != ''">
            AND tool = #{tool}
        </if>
        <if test="nature != null and nature != ''">
            AND nature = #{nature}
        </if>
    </delete>


    <select id="getIssueRepoByCondition" parameterType="String" resultMap="issueRepo">
        select * from issue_repo
        <where>
            repo_uuid = #{repo_uuid}
            <if test="tool != null and tool != ''">
                and tool = #{tool}
            </if>
            <if test="nature != null and nature != ''">
                and nature = #{nature}
            </if>
        </where>
    </select>

    <select id="getNotScanCommitsCount" resultType="java.util.HashMap">
        SELECT total_commit_count, scanned_commit_count FROM issue_repo
        <trim prefix="where" prefixOverrides="and">
            <if test="repoUuid != null and repoUuid != ''">
                and repo_uuid = #{repoUuid}
            </if>
            <if test="tool != null and tool != ''">
                and tool = #{tool}
            </if>
        </trim>
    </select>

    <select id="getMainIssueRepo" resultMap="issueRepo">
        SELECT * FROM issue_repo
        <where>
            nature = 'main'
            <if test="repoUuid != null and repoUuid != ''">
                and repo_uuid = #{repoUuid}
            </if>
            <if test="tool != null and tool != ''">
                and tool = #{tool}
            </if>
        </where>
    </select>
</mapper>

