<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.issueservice.mapper.RawIssueMapper">

    <resultMap id="rawIssue" type="RawIssue">
        <id property="uuid" column="uuid"/>
        <result property="type" column="type"/>
        <result property="tool" column="tool"/>
        <result property="detail" column="detail"/>
        <result property="file_name" column="file_name"/>
        <result property="scan_id" column="scan_id"/>
        <result property="issue_id" column="issue_id"/>
        <result property="commit_id" column="commit_id"/>
        <result property="repo_id" column="repo_id"/>
        <result property="code_lines" column="code_lines"/>
        <result property="commit_time" column="commit_time"/>
        <result property="developer_email" column="developer_email"/>
        <result property="status" column="status"/>
        <collection property="locations" column="uuid"
                    select="cn.edu.fudan.issueservice.mapper.LocationMapper.getLocations"/>
    </resultMap>

    <resultMap id="rawIssue2" type="RawIssue">
        <id property="uuid" column="uuid"/>
        <result property="type" column="type"/>
        <result property="tool" column="tool"/>
        <result property="detail" column="detail"/>
        <result property="file_name" column="file_name"/>
        <result property="scan_id" column="scan_id"/>
        <result property="issue_id" column="issue_id"/>
        <result property="commit_id" column="commit_id"/>
        <result property="repo_id" column="repo_id"/>
        <result property="code_lines" column="code_lines"/>
        <collection property="locations" column="uuid"
                    select="cn.edu.fudan.issueservice.mapper.LocationMapper.getLocations"/>
    </resultMap>

    <resultMap id="rawIssue3" type="RawIssue">
        <id property="uuid" column="uuid"/>
        <result property="type" column="type"/>
        <result property="tool" column="tool"/>
        <result property="detail" column="detail"/>
        <result property="file_name" column="file_name"/>
        <result property="scan_id" column="scan_id"/>
        <result property="issue_id" column="issue_id"/>
        <result property="commit_id" column="commit_id"/>
        <result property="repo_id" column="repo_id"/>
        <result property="code_lines" column="code_lines"/>
    </resultMap>

    <insert id="insertRawIssueList" parameterType="List">
        insert into rawIssue
        (
        uuid,
        type,
        tool,
        detail,
        file_name,
        scan_id,
        issue_id,
        commit_id,
        developer,
        repo_id,
        code_lines,
        status
        )
        VALUES
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (
            #{item.uuid},
            #{item.type},
            #{item.tool},
            #{item.detail},
            #{item.file_name},
            #{item.scan_id},
            #{item.issue_id},
            #{item.commit_id},
            #{item.developerName},
            #{item.repo_id},
            #{item.code_lines},
            #{item.status}
            )
        </foreach>
    </insert>

    <delete id="deleteRawIssueByIds">
        delete from rawIssue
        <where>
            uuid in
            <foreach collection="list" separator="," open="(" close=")" item="rawIssueId">
                #{rawIssueId}
            </foreach>
        </where>
    </delete>

    <select id="getRawIssueByCommitIDAndTool" parameterType="String" resultMap="rawIssue2">
        select uuid,type,tool,detail,file_name,scan_id,issue_id,commit_id,repo_id,code_lines,status
        from rawIssue where repo_id = #{repo_id} and tool = #{tool} and commit_id = #{commit_id} and status != 'solved' and status != 'merge solved'
    </select>

    <select id="getRawIssueByRepoList" parameterType="String" resultMap="rawIssue2">
        select uuid,type,tool,detail,file_name,scan_id,issue_id,commit_id,repo_id,code_lines,status
        from rawIssue where tool = #{tool} and commit_id = #{commit_id} and status != 'solved' and status != 'merge solved'
        <if test="repoUuids != null and repoUuids.size > 0">
            AND repo_id IN
            <foreach collection="repoUuids" separator="," open="(" close=")" item="repoUuid">
                #{repoUuid}
            </foreach>
        </if>
    </select>

    <select id="getRawIssueByIssueId" parameterType="String" resultType="java.util.HashMap">
        select distinct a.uuid, a.type, a.tool, a.detail, a.file_name as fileName,a.scan_id as scanId, a.issue_id as issueUuid,
        a.commit_id as commitId,a.repo_id as repoUuid, a.code_lines as codeLines,a.status,b.commit_time as commitTime, b.developer_email as developerEmail
        from rawIssue as a
        inner join commit as b
        on a.commit_id = b.commit_id
        where a.issue_id=#{issueId}
        and status != "default"
        order by commit_time desc ;
    </select>

    <select id="getNumberOfRawIssuesByIssueId" resultType="Integer">
        select count(*) from rawIssue where issue_id = #{issueId};
    </select>

    <select id="getRawIssueListByIssueId" resultMap="rawIssue">
        select distinct a.uuid,a.type,a.tool,a.detail,a.file_name,a.scan_id,a.issue_id,a.commit_id,a.repo_id,a.code_lines,a.status ,b.commit_time as commit_time , b.developer_email as developer_email
        from rawIssue as a
        inner join commit as b
        on a.commit_id = b.commit_id
        where a.issue_id = #{issue_id}
        <if test="statusList != null || statusList.size != 0">
            <trim prefix="and (" prefixOverrides="or" suffix=")">

                <foreach collection="statusList"  item="status">
                    or status = #{status}
                </foreach>

            </trim>
        </if>
        order by commit_time desc
        <if test="start != null  and size != null ">
            limit #{start},#{size}
        </if>
        ;
    </select>

    <select id="getNumberOfRawIssuesByIssueIdAndStatus" resultType="Integer">
        select count(*) from rawIssue where issue_id = #{issueId}
        <if test="list != null || list.size != 0">
            <trim prefix="and (" prefixOverrides="or" suffix=")">
                <foreach collection="list"  item="status">
                    or status = #{status}
                </foreach>
            </trim>
        </if>
        ;
    </select>

    <select id="getRawIssueByRepoIdAndTool" resultMap="rawIssue3">
        select uuid,type,tool,detail,file_name,scan_id,issue_id,commit_id,repo_id,code_lines,status
        from rawIssue
        <where>
            repo_id = #{repo_id}
            <if test="tool != null  and tool != ''">
                and tool = #{tool}
            </if>
        </where>
    </select>

    <select id="getAdderOfOneIssue" parameterType="String" resultType="String">
        SELECT DISTINCT b.developer_unique_name
        FROM
        rawIssue as a
        INNER JOIN commit_view as b
        ON a.repo_id = b.repo_id AND a.commit_id = b.commit_id
        <where>
            a.`status` = "add"
            AND a.issue_id = #{issue_id}
        </where>
    </select>

    <select id="getLastSolverOfOneIssue" parameterType="String" resultType="String">
        SELECT b.developer_unique_name
        FROM
        rawIssue as a
        INNER JOIN commit_view as b
        ON a.repo_id = b.repo_id AND a.commit_id = b.commit_id
        <where>
            a.`status` = "solved"
            AND a.issue_id = #{issue_id}
        </where>
        ORDER BY b.commit_time DESC
        LIMIT 1
    </select>

    <select id="getLastSolvedInfoOfOneIssue" parameterType="String" resultType="java.util.HashMap">
        SELECT a.issue_id, b.developer_unique_name as lastSolver, b.commit_id, b.commit_time
        FROM
        rawIssue as a
        INNER JOIN commit_view as b
        ON a.repo_id = b.repo_id AND a.commit_id = b.commit_id
        <where>
            a.`status` = "solved"
            AND a.issue_id = #{issue_id}
        </where>
        ORDER BY b.commit_time DESC
        LIMIT 1
    </select>

    <select id="getRawIssueUuidByIssueUuidAndCommit" resultType="String">
        SELECT a.uuid FROM rawIssue AS a INNER JOIN commit_view AS b ON a.commit_id = b.commit_id AND a.repo_id = b.repo_id
        <where>
            a.issue_id = #{issueUuid}
            <if test="commit != null and commit != ''">
                AND a.commit_id = #{commit}
            </if>
        </where>
        ORDER BY b.commit_time DESC LIMIT 1
    </select>
</mapper>