<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.measureservice.mapper.AccountMapper">

    <select id="getAccountName" parameterType="String" resultType="String">
        select account_name from issueTracker.account_author where binary account_gitname=#{gitName}
    </select>


    <select id="getAccountNameList" resultType="String">
        select distinct (account_name) from issueTracker.account_author
        <where>
            <if test="accountGitNameList!=null and accountGitNameList.size>0">
                account_gitname in
                <foreach collection="accountGitNameList" separator="," open="(" close=")" item="accountGitName">
                    #{accountGitName}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getDeveloperAccountGitNameList" parameterType="String" resultType="String">
        select distinct (account_gitname) FROM issueTracker.account_author
        where account_name = #{accountName}
    </select>

    <select id="getAccountGitNameList" resultType="String">
        select distinct (account_gitname) FROM issueTracker.account_author
        <where>
            <if test="accountNameList!=null and accountNameList.size>0">
                account_name in
                <foreach collection="accountNameList" separator="," open="(" close=")" item="accountName">
                    #{accountName}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getAllAccountGitNameList" resultType="String">
        select distinct (account_gitname) FROM issueTracker.account_author
    </select>

</mapper>