<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.measureservice.mapper.MeasureMapper">

    <resultMap id="workLoad" type="DeveloperWorkLoad">
        <result property="addLines" column="addLines" />
        <result property="deleteLines" column="delLines" />
        <result property="commitCount" column="commitCount" />
        <result property="changedFiles" column="changedFiles" />
    </resultMap>



    <select id="getDeveloperWorkLoad"  resultMap="workLoad">
        SELECT
        sum(add_lines) AS addLines, sum(del_lines) AS delLines, count(uuid) AS commitCount, sum(changed_files) AS changedFiles
        FROM
        issueTracker.repo_measure
        <where>
            <trim prefixOverrides="and">
                <if test="developer_name != null and developer_name != '' ">
                    and developer_name = #{developer_name}
                </if>

                <if test="repoUuidList != null and repoUuidList.size > 0">
                    and repo_id in
                    <foreach collection="repoUuidList" separator="," open="(" close=")" item="repoUuid">
                        #{repoUuid}
                    </foreach>
                </if>

                <if test="since != null and since != '' ">
                    and <![CDATA[ commit_time >= #{since} ]]>
                </if>

                <if test="until != null and until != '' ">
                    and <![CDATA[ commit_time <= #{until} ]]>
                </if>
            </trim>
        </where>
    </select>


    <select id="getDeveloperRankByLoc" parameterType="String" resultType="java.util.HashMap">
        SELECT
        developer_name ,
        SUM( add_lines ) + SUM( del_lines ) AS counts
        FROM
        issueTracker.repo_measure
        <where>
            <trim prefixOverrides="and">

                <if test="repoUuidList != null and repoUuidList.size >0 ">
                    and repo_id in
                    <foreach collection="repoUuidList" separator="," open="(" close=")" item="repoUuid">
                        #{repoUuid}
                    </foreach>
                </if>

                <if test="since != null and since != '' ">
                    and <![CDATA[ commit_time >= #{since} ]]>
                </if>

                <if test="until != null and until != '' ">
                    and <![CDATA[ commit_time <= #{until} ]]>
                </if>

            </trim>
        </where>
        GROUP BY
        developer_name
        ORDER BY
        counts DESC
        LIMIT 3;
    </select>

    <select id="getMsgNumByRepo" resultType="int">
        SELECT IFNULL(count(uuid),0) FROM issueTracker.repo_measure
        <where>
            <trim prefixOverrides="and">

                <if test="repoUuidList != null and repoUuidList.size >0 ">
                    and repo_id in
                    <foreach collection="repoUuidList" separator="," open="(" close=")" item="repoUuid">
                        #{repoUuid}
                    </foreach>
                </if>

            </trim>
        </where>
    </select>




</mapper>