<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.measureservice.mapper.ProjectMapper">


    <resultMap id="developerLevel" type="DeveloperLevel">
        <id property="developerName" column="developer_unique_name" />
        <result property="efficiency" column="efficiency" />
        <result property="quality" column="quality" />
        <result property="contribution" column="contribution" />
        <result property="totalLevel" column="total_level" />
        <result property="involvedRepoCount" column="involved_repo_count" />
        <result property="dutyType" column="duty_type" />
    </resultMap>

    <resultMap id="developerRecentNews" type="DeveloperRecentNews">
        <id property="developerName" column="developer" />
        <result property="commitTime" column="commit_time"/>
        <result property="commitId" column="commit_id"/>
        <result property="repoUuid" column="repo_id"/>
        <result property="message" column="message" />
    </resultMap>

    <insert id="insertDeveloperLevel" parameterType="DeveloperLevel">
        insert into issueTracker.developer_level (
            developer_unique_name,
            efficiency,
            contribution,
            quality,
            total_level,
            involved_repo_count,
            duty_type
        )
        values
        (
             #{developerName},
             #{efficiency},
             #{contribution},
             #{quality},
             #{totalLevel},
             #{involvedRepoCount},
             #{dutyType}
        )
        ON DUPLICATE KEY UPDATE
            efficiency = #{efficiency},
            contribution = #{contribution},
            quality = #{quality},
            total_level = #{totalLevel},
            involved_repo_count = #{involvedRepoCount},
            duty_type = #{dutyType}
    </insert>

    <select id="getDeveloperLevelList" resultMap="developerLevel">
        SELECT developer_unique_name, efficiency, quality, contribution, total_level, involved_repo_count, duty_type FROM issueTracker.developer_level
        <where>
            <if test="developerList!=null and developerList.size>0">
                developer_unique_name in
                <foreach collection="developerList" separator="," open="(" close=")" item="developer">
                    #{developer}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getCommitGitNameList"  resultType="String">
        SELECT distinct developer FROM issueTracker.commit
        <where>
            <trim prefixOverrides="and">
                <if test="repoUuidList != null and repoUuidList.size > 0">
                    and repo_id in
                    <foreach collection="repoUuidList" separator="," open="(" close=")" item="repoUuid">
                        #{repoUuid}
                    </foreach>
                </if>

                <if test="since != null and since != '' ">
                    and <![CDATA[ commit_time >= #{since} ]]>
                </if>

                <if test="until != null and until != '' ">
                    and <![CDATA[ commit_time <= #{until} ]]>
                </if>
            </trim>
        </where>
    </select>

    <select id="getRepoCommitGitNameList"  resultType="String">
        SELECT DISTINCT developer FROM issueTracker.commit
        where repo_id = #{repoUuid}
    </select>

    <select id="getDeveloperFirstCommitDate" resultType="String" >
        SELECT SUBSTRING(commit_time,1,10) AS firstCommitDate FROM issueTracker.commit
        <where>
            <trim prefixOverrides="and">
                <if test="repoUuid != null and repoUuid !='' ">
                    and repo_id = #{repoUuid}
                </if>

                <if test="gitNameList != null and gitNameList.size > 0">
                    and developer in
                    <foreach collection="gitNameList" separator="," open="(" close=")" item="gitName">
                        #{gitName}
                    </foreach>
                </if>
            </trim>
        </where>
        order by commit_time asc
        limit 1
    </select>

    <select id="getDeveloperDutyType" resultType="String">
        SELECT account_status FROM issueTracker.account
        WHERE account_name = #{developer}
    </select>

    <select id="getDeveloperRepoList" parameterType="String" resultType="String">
        SELECT
        DISTINCT (repo_id)
        FROM
        issueTracker.commit
        <where>
            <trim prefixOverrides="and">
                <if test="gitNameList != null and gitNameList.size > 0 ">
                    and developer in
                    <foreach collection="gitNameList" separator="," open="(" close=")" item="gitName">
                        #{gitName}
                    </foreach>
                </if>

                <if test="since != null and since != '' ">
                    and <![CDATA[ commit_time >= #{since} ]]>
                </if>

                <if test="until != null and until != '' ">
                    and <![CDATA[ commit_time <= #{until} ]]>
                </if>
            </trim>
        </where>

    </select>

    <select id="getProjectInfo" resultType="java.util.HashMap">
        SELECT distinct(p.repo_uuid),project_name FROM issueTracker.sub_repository as p inner join issueTracker.commit_view as c
        WHERE p.repo_uuid = c.repo_uuid
        AND c.developer_unique_name = #{developer}
    </select>

    <select id="getRepoName" resultType="String">
        SELECT repo_name  FROM issueTracker.sub_repository
        WHERE repo_uuid = #{repoUuid}
    </select>

    <select id="getProjectName" resultType="String">
        SELECT project_name FROM issueTracker.sub_repository
        WHERE repo_uuid = #{repoUuid}
    </select>


    <select id="getDeveloperRankByCommitCount" parameterType="String" resultType="java.util.HashMap">
        SELECT
            developer_unique_name AS developer_name,
            COUNT(uuid) AS counts
        FROM
            issueTracker.commit_view
        <where>
            <trim prefixOverrides="and">

                <if test="repoUuidList != null and repoUuidList.size >0 ">
                    and repo_uuid in
                    <foreach collection="repoUuidList" separator="," open="(" close=")" item="repoUuid">
                        #{repoUuid}
                    </foreach>
                </if>

                <if test="since != null and since != '' ">
                    and <![CDATA[ commit_time >= #{since} ]]>
                </if>

                <if test="until != null and until != '' ">
                    and <![CDATA[ commit_time <= #{until} ]]>
                </if>

            </trim>
        </where>
        GROUP BY
            developer_unique_name
        ORDER BY
            counts DESC

        LIMIT 3;
    </select>

    <select id="getDeveloperCommitCountsByDuration" resultType="int">
        select
        COUNT(uuid) as commit_counts
        from issueTracker.commit_view
        <where>
            <trim prefixOverrides="and">
                <if test="developer != null and developer != '' ">
                    and developer_unique_name = #{developer}
                </if>

                <if test="repoUuidList != null and repoUuidList.size >0 ">
                    and repo_uuid in
                    <foreach collection="repoUuidList" separator="," open="(" close=")" item="repoUuid">
                        #{repoUuid}
                    </foreach>
                </if>

                <if test="since != null and since != '' ">
                    and <![CDATA[ commit_time >= #{since} ]]>
                </if>

                <if test="until != null and until != '' ">
                    and <![CDATA[ commit_time <= #{until} ]]>
                </if>
            </trim>
        </where>
    </select>

    <select id="getProjectByAccountId" resultType="String">
        SELECT project_name
        FROM issueTracker.account_project AS p
        WHERE p.account_uuid = #{account_uuid} AND p.account_role = 'LEADER'
    </select>


    <select id="getRepoLanguage" resultType="String">
        SELECT language FROM issueTracker.sub_repository
        WHERE repo_uuid = #{repoUuid}
    </select>

    <select id="getProjectNameById" resultType="String">
        SELECT project_name FROM issueTracker.project
        where id = #{projectId}
    </select>

    <select id="getProjectIdByName" resultType="Integer">
        SELECT id FROM issueTracker.project
        WHERE project_name = #{projectName}
    </select>

    <select id="getAllProjectId" resultType="String">
        SELECT distinct (id) FROM issueTracker.project
    </select>

    <select id="getSingleProjectMsgNum" resultType="Integer" >
        SELECT COUNT(uuid) AS commitNum FROM issueTracker.repo_measure
        <where>
            <trim prefixOverrides="and">
                and repo_id = #{repoUuid}

                <if test="since != null and since != '' ">
                    and <![CDATA[ commit_time >= #{since} ]]>
                </if>

                <if test="until != null and until != '' ">
                    and <![CDATA[ commit_time <= #{until} ]]>
                </if>

                <if test="isCompliance != null">
                    <if test="isCompliance == true">
                        and is_compliance = 1
                    </if>
                    <if test="isCompliance == false">
                        and is_compliance = 0
                    </if>
                </if>
                and is_merge = 0
            </trim>
        </where>
    </select>

    <select id="getProjectRepoList" resultType="String">
        SELECT distinct (repo_uuid) FROM issueTracker.sub_repository
        WHERE project_name = #{projectName}
    </select>

    <select id="getDeveloperInvolvedRepoNum" resultType="int">
        SELECT distinct repo_id FROM issueTracker.commit
        <where>
            <trim prefixOverrides="and">
                <if test="gitNameList != null and gitNameList != '' ">
                    and developer in
                    <foreach collection="gitNameList" separator="," open="(" close=")" item="gitName">
                        #{gitName}
                    </foreach>
                </if>
            </trim>
        </where>
    </select>

    <select id="getDeveloperRecentNewsList" resultMap="developerRecentNews">
        SELECT developer, commit_time, message, commit_id, repo_id FROM issueTracker.commit
        Where
              developer in
              <foreach collection="gitNameList" separator="," open="(" close=")" item="gitName">
                  #{gitName}
              </foreach>
              <if test="repoUuidList != null and repoUuidList.size > 0 ">
                  AND repo_id in
                  <foreach collection="repoUuidList" separator="," open="(" close=")" item="repoUuid">
                     #{repoUuid}
                  </foreach>
              </if>
              <if test="since != null and since != '' ">
                    and <![CDATA[ commit_time >= #{since} ]]>
              </if>

              <if test="until != null and until != '' ">
                    and <![CDATA[ commit_time <= #{until} ]]>
              </if>
        ORDER BY commit_time desc
    </select>

</mapper>